In [4]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt
import seaborn as sns

In [5]:
data=pd.read_excel('F:\DATA ANALYST\CART.xlsx')
data

    RID       age  income student credit_rating buys_computer
0     1     youth    high      no          fair            no
1     2     youth    high      no     excellent            no
2     3  mid_aged    high      no          fair           yes
3     4    senior  medium      no          fair           yes
4     5    senior     low     yes          fair           yes
5     6    senior     low     yes     excellent            no
6     7  mid_aged     low     yes     excellent           yes
7     8     youth  medium      no          fair            no
8     9     youth     low     yes          fair           yes
9    10    senior     low     yes          fair           yes
10   11     youth  medium     yes          fair           yes
11   12  mid_aged  medium     yes     excellent           yes
12   13  mid_aged  medium      no     excellent           yes
13   14    senior    high     yes          fair           yes
14   15    senior  medium      no     excellent            no

In [6]:
import sklearn
from sklearn.preprocessing import LabelEncoder

In [7]:
#Use to normalize labels
le_age=LabelEncoder()
le_income=LabelEncoder()
le_student=LabelEncoder()
le_credit_rating=LabelEncoder()
le_buys_computer=LabelEncoder()

In [8]:
data['age_n']=le_age.fit_transform(data['age'])
data['income_n']=le_income.fit_transform(data['income'])
data['student_n']=le_student.fit_transform(data['student'])
data['credit_rating_n']=le_credit_rating.fit_transform(data['credit_rating'])
data['buys_computer_n']=le_buys_computer.fit_transform(data['buys_computer'])

In [9]:
data.head()

,RID,age,income,student,credit_rating,buys_computer,age_n,income_n,student_n,credit_rating_n,buys_computer_n
0,1,youth,high,no,fair,no,2,0,0,1,0
1,2,youth,high,no,excellent,no,2,0,0,0,0
2,3,mid_aged,high,no,fair,yes,0,0,0,1,1
3,4,senior,medium,no,fair,yes,1,2,0,1,1
4,5,senior,low,yes,fair,yes,1,1,1,1,1

In [10]:
data_new=data.drop(['age','income','student','credit_rating','buys_computer'],axis='columns')
data_new.head()

   RID  age_n  income_n  student_n  credit_rating_n  buys_computer_n
0    1      2         0          0                1                0
1    2      2         0          0                0                0
2    3      0         0          0                1                1
3    4      1         2          0                1                1
4    5      1         1          1                1                1

In [11]:
feature_cols=['age_n','income_n','student_n','credit_rating_n']
x=data_new.drop(['RID','buys_computer_n'],axis='columns')
y=data_new['buys_computer_n']
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
dt=clf.fit(x,y)
dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus

In [13]:
dot_data=StringIO()
export_graphviz(dt,out_file=dot_data,filled=True,rounded=True,special_characters=True,
                feature_names=feature_cols,class_names=['0','1'])
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())

In [14]:
Image(graph.create_png())

InvocationException: GraphViz's executables not found